/*Adding color to my aboutMe page*/

h1 {
 /*color: #FF8000;
 border-color: purple;
 border-width: 5px;
 border-style: solid;
*/

 border: 5px solid purple;	
}

/*width
color
style
*/

li {
 color:rgba(0,200,100,.8); 	
}

h4 {
 background:rgb(60,0,200); 	
}

body {
	background: blue;
  
/*background: url(https://upload.wikimedia.org/wikipedia/commons/e/ed/Weathered_wood_grain.JPG);
	background-repeat: no-repeat;
	background-size: cover;
*/	
}
