/*Class to create a line-through through
an <li> element after clicking mouse 
through the element*/
.done {
	text-decoration: line-through;
	opacity: 0.5;
}

/*Class to change the <li> element to green
when the mouse is hovered over*/
.selected {
	color: green;
}